body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#9aacb8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:#dde2e3;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar,.navbar-fixed-top {
    background-color:#60412b;

}


.navbar-nav > li > a {
    color: #9aacb8 !important;
}

.navbar-nav > li :hover {
    background-color: #b37c57 !important;
}


.navbar-header > a {
    color: #9aacb8 !important;
}

.navbar-header > a :hover{
    color: #dde2e3 !important;
}

.navbar-header :hover {
    background-color: #b37c57 !important;
}


.item {
    height:50%;

    
}

